:root {
    --fg: black;
    --bg: white;
    --afg: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: white;
        --bg: #222;
        --afg: lightblue;
    }
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('josefinsans-regular-webfont.woff2') format('woff2'),
         url('josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: var(--fg);
    background: var(--bg);
    font-family: 'josefin_sansregular';
    text-align: center;
}

header {
    padding-top: 5vh;
}

nav {
    padding-top: 2vh;
}

nav a {
    color: var(--afg);
    text-decoration: none;
    padding: 0 0.5em;
    margin: 0;
}
