:root {
    --fg: black;
    --bg: white;
    --afg: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: white;
        --bg: #222;
        --afg: lightblue;
    }
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../josefinsans-regular-webfont.woff2') format('woff2'),
         url('../josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: var(--fg);
    background: var(--bg);
    width: 80%;
    margin: 0 auto;
    font-family: 'josefin_sansregular';
}

header {
    text-align: center;
}

h1 {
    padding-top: 100px;
}

h2 {
    display: inline;
}

a {
    color: var(--afg);
    text-decoration: none;
}

.gallery {
    padding-top: 50px;
    max-width: 800px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}
