:root {
    --fg: black;
    --bg: white;
    --afg: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: white;
        --bg: #222;
        --afg: lightblue;
    }
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../josefinsans-regular-webfont.woff2') format('woff2'),
         url('../josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: var(--fg);
    background: var(--bg);
    text-align: center;
    font-family: 'josefin_sansregular';
}

a {
    color: var(--afg);
    text-decoration: none;
}

footer {
    text-size: 0.7em;
    color: gray;
    white-space: pre-line;
}
.thumbnails img {
    width: 30%;
    height: 30vh;
    padding: 1%;
    object-fit: contain;
}
