:root {
    --fg: black;
    --bg: white;
    --afg: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: white;
        --bg: #222;
        --afg: lightblue;
    }
}
body {
   margin: 3%;
   color: var(--fg);
   background: var(--bg);
   font-family: "sans serif";
}
.picture img {
   width: 100%;
   max-height: 85vh;
   object-fit: contain;
   object-position: center center;
}
.picture p {
   font-size: small;
   text-align: center;
}
